{% extends 'judge/base.html' %}

{% block title %}Edit Index String{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Edit Index String</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Edit Index String</h2>
    </div>
    <div class="col-12">
        <form method="POST">
            {% if form.non_field_errors %}
            {% for nfe in form.non_field_errors %}
            <div class="alert alert-danger mt-2" role="alert">
                    {{ nfe }}
            </div>
            {% endfor %}
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
                {% if field.errors %}
                {% for fe in field.errors %}
                <div class="alert alert-danger mt-2" role="alert">
                    {{ fe|striptags }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endblock %}
